.event-name {
  text-align: center;
}

.event-loc {
  text-align: center;
}

.farm {
  min-height: 20vh;
  background-image: url(/images/farm.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.search {
  background-color: rgb(218, 204, 204);
  display: inline-block;
  text-align: center;
  min-width: 280px;
  border-radius: 5px;
}

.input-field {
  background-color: rgb(245, 237, 237);
  min-width: 200px;
  display: inline-block;
  height: 30px;
  text-align: left;
}

.title {
  padding-left: 25px;
  color: red;
}

.card-section {
  background-color: #b6b9b6;
}

.ticket-people {
  margin-top: auto;
  align-items: flex-end;
  margin-bottom: 10%;
}

.calendar {
  margin-bottom: 15px;
  margin-top: 35px;
}
