.event-name {
  text-align: center;
}

.event-loc {
  text-align: center;
}

.farm {
  min-height: 25vh;
  background-image: url(/images/farm.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.search {
  background-color: rgb(190, 183, 183);
  display: inline-block;
  text-align: center;
  min-width: 300px;
}

.input-field {
  background-color: rgb(245, 237, 237);
  min-width: 200px;
  display: inline-block;
  min-height: 25px;
  vertical-align: middle;
  text-align: left;
}

.title {
  padding-left: 25px;
}

.card-section {
  background-color: #b6b9b6;
}

.ticket-people {
  margin-top: auto;
  align-content: space-between;
}
