.control-panel {
  text-align: right;
  padding-right: 30px;
  margin-bottom: 30px;
}

.img {
  /* min-width: 600px;
  max-width: 600px; */
  width: 100%;
  min-height: 650px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  justify-content: space-around;
}

.imgPhone {
  margin-top: 15px;
  border-radius: 15px;
  justify-content: center;
}
.description {
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
}

.date {
  margin-top: 50px;
}
