.body {
  inline-size: 30%;
  font-weight: 300;
  font-size: larger;
  margin-left: 80px;
  width: 35%;
}

.home-link {
  color: black;
  padding-left: 50px;
}

.link-box {
  align-content: start;
  padding-top: 115px;
}

.field-image {
  width: 450px;
  float: right;
  margin-right: 50px;
  margin-top: -102px;
  border-radius: 10px;
}
