.body {
  inline-size: 30%;
  /* color: blueviolet; */
  font-size: larger;
}

.link {
  color: black;
}

.link-box {
  margin-top: 200px;
}

.field-image {
  width: 500px;
  float: right;
  shape-outside: element(50%);
}
