.big-rect {
  background-color: honeydew;
  margin-left: 200px;
  margin-right: 200px;
  min-height: 78vh;
  border-radius: 20px;
}

.name {
  width: 100%;
  height: 25px;
  font-size: large;
  justify-content: center;
  height: fit-content;
  font-size: large;
  height: 25px;
  text-wrap: pretty;
  /* margin-left: -1px; */
}

.details {
  width: 100%;
  height: 100px;
  font-size: large;
  margin-left: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  justify-content: center;
}

.location {
  width: 100%;
  height: 25px;
  font-size: large;
  justify-content: center;
  height: fit-content;
  font-size: large;
  height: 25px;
  text-wrap: pretty;
}

.street {
  width: 100%;
  height: 25px;
  font-size: large;
  justify-content: center;
  height: fit-content;
  font-size: large;
  height: 25px;
  text-wrap: pretty;
}

.address {
  width: 100%;
  min-height: 45px;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  font-size: large;
  text-wrap: pretty;
  margin-right: -18px;
}

.cost {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin-right: 50px;
}

.date-cost {
  width: 100%;
  min-height: 45px;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  font-size: large;
  text-wrap: pretty;
  vertical-align: middle;
  justify-content: space-between;
}
