.n-ame {
  width: 100%;
  height: 25px;
  font-size: large;
  text-wrap: pretty;
  margin-bottom: 20px;
}

.de-tails {
  width: 100%;
  min-height: 100px;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-bottom: 20px;
}

.l-ocation {
  width: 100%;
  height: 25px;
  font-size: large;
  height: fit-content;
  text-wrap: pretty;
  margin-bottom: 10px;
}

.street {
  width: 100%;
  height: 25px;
  font-size: large;
  height: fit-content;
  font-size: large;
  height: 25px;
  text-wrap: pretty;
  margin-bottom: 10px;
}

.btn_goBack {
  float: inline-end;
}
